@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.bg-morado{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 79px;
}
.medio{
    width: 100%;
    margin: auto;
    display: flex;
    
    
}
.box-img{
    width: 50%;
    background-color: #e8e4f4;
    padding: 8% 5%;
}
.medio img {
    width: 40% ;
    display: block;
    margin: auto;
}
.box-form{
    width: 60%;
    padding: 8% 5%;
}
.form-control{
    border: 0;
    border-bottom:1px solid #4834d4;
    background: transparent;
    height: 35px;
    width: 100%;
    color: #222222;
}
textarea.form-control{
    height: 120px;
}
.box-form label{
    font-size: 13px;
    font-weight: 600;
     margin-bottom: 10px;
     display: block;
}
.form-control::placeholder{
    color: #c4c4c4;
}
.mb-3{
    margin-bottom: 20px;
    display:  block;
}
.box-buttom{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.box-img h3{
    color: #30343c;
    font-size: 60px;
}
.box-buttom button{
 padding: 12px 40px;
 color: white;
 background: #4834d4;
 border: 0;
 border-radius: 40px;
}
.contacto{
    
    margin-top: 20px;
}
.contacto img{
    width: 20%;
}

.contacto p{
    color: 30343c;
    width: 100%;
    font-size: 22px;
    padding-left: 10px;

}

@media(max-width:750px){
    .medio{
        flex-direction: column;
    }
    .box-img{
        width: 100%;
    }
    .box-form{
        width: 100%;
    }
    .box-img h3 {
        color: #30343c;
        font-size: 40px;
    }
    .box-img p {
        color: #30343c;
        font-size: 15px;
        padding-left: 0;
    }
}